 <!-- Add this css File in head tag-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">


 <!--  
        If you want to change #bootstrap-touch-slider id then you have to change Carousel-indicators and Carousel-Control  #bootstrap-touch-slider slide as well
        Slide effect: slide, fade
        Text Align: slide_style_center, slide_style_left, slide_style_right
        Add Text Animation: https://daneden.github.io/animate.css/
        -->


        <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper For Slides -->
            <div class="carousel-inner" role="listbox">

                <!-- Third Slide -->
                <div class="item active">

                    <!-- Slide Background -->
                    <img src="http://pets-grooming.axiomthemes.com/wp-content/uploads/2016/08/slide2.jpg"  class="slide-image" width="1409" height="725"/>
                    <div class="bs-slider-overlay"></div>

                    <div class="container">
                        <div class="row">
                            <!-- Slide Text Layer -->
                            <div class="slide-text slide_style_left">
                                <h1 data-animation="animated zoomInRight">We Care With Love</h1>
                                <p data-animation="animated fadeInLeft">Best grooming style and care for your cats and dogs of many breeds</p>
                                <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">Make an Appointment</a>
                  
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Second Slide -->
                <div class="item">

                    <!-- Slide Background -->
                    <img src="http://pets-grooming.axiomthemes.com/wp-content/uploads/2016/10/home2_sl3.jpg"  class="slide-image" width="1409" height="725"/>
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_left">
                                <h1 data-animation="animated zoomInRight">A Haute Spa Day</h1>
                                <p data-animation="animated fadeInLeft">Full Spa Services to Threat your Pet Right</p>
                                <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">Make an Appointment</a>
                      
                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Third Slide -->
                <div class="item">

                    <!-- Slide Background -->
                    <img src="http://pets-grooming.axiomthemes.com/wp-content/uploads/2016/10/home2_sl2.jpg"  class="slide-image" width="1409" height="725"/>
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_left">
                                <h1 data-animation="animated zoomInRight">Grooming Salon</h1>
                                <p data-animation="animated fadeInLeft">Academy-Trained Pet Stylists at Your Service</p>
                                <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">Make an Appointment</a>
                    </div>
                </div>
                <!-- End of Slide -->


            </div><!-- End of Wrapper For Slides -->

            <!-- Left Control -->
            <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <!-- Right Control -->
            <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div> <!-- End  bootstrap-touch-slider Slider -->
      

 <div class="container text-center">
  <h2>Our Services</h2>
  <br>
  <img src="https://ww3.sinaimg.cn/large/006y8lVagy1fcnzbl4t11j306w00fgld.jpg" alt="crow">
  <div class="row">
    <div class="col-sm-4">
      <a href="#"><strong>Full Grooming</strong><span></span></a>
      <p>Your pet is in good hands with us! Let your favorite get the best care in our center.</p>
    </div>
    <div class="col-sm-4" colspan="2">
      <img src="https://ww3.sinaimg.cn/large/006y8lVagy1fcny86selgj308z0chtb7.jpg" alt="dog">
    </div>
    <div class="col-sm-4">
      <a><strong>Styling</strong></a><br>
      <p>Our team of pet hair stylists is happy to make your animal look pretty and happy.</p>
    </div>
  </div>
  <div class="row">
  	<div class="col-sm-4">
  	  <h3><strong>Bath & Dry</strong></h3>
      <p>We use a big range of shampoos for all different coat types and breeds.</p>
  	</div>
  	<div class="col-sm-4 col-sm-offset-4">
  	  <h3><strong>Medical & Bath</strong></h3>
      <p>Bathing in our vet bath, using an appropriate shampoo that is kind to pet’s skin.</p>
  	</div>
  </div>
</div>

<div class="container col-md-12">
  <div class="row">
    <div class="dog-pic col-md-2">
      <div class="thumbnail">
        <a href="https://ww3.sinaimg.cn/large/006tNbRwgy1fco163it2zj31jk1ylant.jpg" target="_blank">
          <img class="response" src="https://ww3.sinaimg.cn/large/006tNbRwgy1fco163it2zj31jk1ylant.jpg" alt="dog" style="width:100%">
        </a>
      </div>
    </div>
    <div class="dog-pic col-md-5">
      <div class="thumbnail">
        <a href="https://ww2.sinaimg.cn/large/006tNbRwgy1fcoinvjtphj31kw0s77c5.jpg" target="_blank">
          <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fcoinvjtphj31kw0s77c5.jpg" alt="Nature" style="width:100%">
        </a>
      </div>
    </div>
    <div class="dog-pic col-md-5">
      <div class="thumbnail">
        <a href="https://ww2.sinaimg.cn/large/006tNbRwgy1fcoiqgg7b5j31kw13xtg6.jpg" target="_blank">
          <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fcoiqgg7b5j31kw13xtg6.jpg" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
  </div>
</div>
<!-- package -->
<div class="row text-center col-md-12">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img class="img-circle" src="https://ww1.sinaimg.cn/large/006tNbRwgy1fcolnp888nj304c04cweg.jpg" alt="Deluxe Bath & Groom">
      <p><strong>Deluxe Bath & Groom</strong></p>
      <p>Grooming service for a small dog include bathing, ear cleaning and grooming.</p>
      <button class="btn">Enquire Now</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcols9arqzj304c04cwec.jpg" class="img-circle" alt="Bath & Full Groom">
      <p><strong>Bath & Full Groom</strong></p>
      <p>Our full groom package includes: bath, dry with styling and nail clipping.</p>
      <button class="btn">Enquire Now</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fcolue9anqj304c04cweb.jpg" class="img-circle" alt="Bath & Tidy Up">
      <p><strong>Bath & Tidy Up</strong></p>
      <p>Our service for a large dog include nail trim, cleaning, haircut and blow dry.</p>
      <button class="btn">Enquire Now</button>
    </div>
  </div>
</div>
<!-- Our story -->
<div class="story container col-md-12">
  <div class="row">
    <div class="col-md-6">
      <h2>Our story</h2>
      <p>We have been grooming for many years now and we love every part of our job! We provide a very warm and friendly environment for your pets. Our professional team made sure your pet always gets the highest level of care, because we treat all pets as if they were our own!</p>
      <a href="#" class="call btn btn-default">Request a Call</a><p>or Call Us: 0 (800)-122-15-16</p>
    </div>
    <div class="col-md-6">
    <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcp6vijwn8j30g60aw77j.jpg">
    </div>
  </div>
</div>
<!-- Introduction -->
<div class="container introduction col-md-12">
  <div class="row">
    <div class="col-md-4">
      <a href="#"><span></span></a>
      <h2><a href="#">Top Groomers</a></h2>
      <p>Our professional team provide exceptional grooming service.</p>
    </div>
    <div class="col-md-4">
      <a href="#"><span></span></a>
      <h2><a href="#">V.I.P. Service</a></h2>
      <p>We take pride in giving you and your pet personalized attention.</p>
    </div>
    <div class="col-md-4">
      <a href="#"><span></span></a>
      <h2><a href="#">We Love Every Pet</a></h2>
      <p>We love every pet, so your pet feel relaxed and stress free.</p>
    </div>
  </div>
</div>